.programs-container {
     box-sizing: border-box;
    overflow: visible;
    width: 100vw;
    height: 100vh;
    background-color: var(--fourth-color);
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}   

h1 {
    margin: 0
}