.about-container {
    display: "flex"; 
    flex-Direction: "column"; 
    gap: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    margin: 0;
}

.about-text-container {
    /*background-color: pink;*/
    margin-top: 0px;
}

.about-photo-container {

}


body {
    margin: 0;
    padding: 0;
}   

h1 {
    margin: 0
}