
.programs-page-container {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: var(--fourth-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

.header h2 {
    margin: 0; /* Remove any top margin */
    margin-top: 100px;
    padding: 0; /* Remove padding */
    text-align: center; /* Center the text */
}

.cards {
    margin-top: 50px;
    gap: 20px
}


.cards-container {
    /*background-color: yellow;*/
    width: 100vw
}

/*
.programs-container {
    background-color: var(--secondary-color);
    height: 100vh;
    margin-top: 0px
}

.left-side-container {
    background-color: pink;
    width: 50vw
}

.right-side-container {
    background-color: orange;
    width: 50vw
}

.ropeflow-container {
    background-color: yellow;
    height: 20vh;
    margin-top: 20px;
    margin-bottom: 0px;
    padding:  10px 50px 20px 60px
}

.kettlebell-container {
    background-color: blue;
    height: 25vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 50px 20px 60px
}

.steelmace-container {
    background-color: red;
    height: 20vh;
    margin-top: 20px;
    margin-bottom: 0px;
    padding:  10px 60px 20px 50px
}

.clubbell-container {
    background-color: green;
    height: 25vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px 60px 20px 50px
}
*/