.home-container {
    box-sizing: border-box;
    overflow: visible;
    width: 100vw;
    height: 100vh;
    background-color: var(--third-color);
    margin: 0;
}

.strength-and-flow-container {
    /*background-color: pink;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 50vw;
    padding: 0px 80px 100px 50px;
    margin-top: -60px
}

.home-photo-container {
    /*background-color: pink;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 50vw;
    padding: -10px;
}

.home-title { /*Stength and Flow*/
    font-family: "Playfair Display", serif;
    font-size: 160px;
    color: var(--text-color);
    letter-spacing: -8px;
    line-height: .9;
    margin-top: 0;
}

h3 {
  font-family: "Arimo", sans-serif;
  font-size: 36px;
  color: var(--text-color);
  letter-spacing: -1px;
  margin-top: 20px
}